* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header nav {
  background: linear-gradient(90deg, rgb(164, 241, 164) 0%, rgb(94, 185, 117) 36%, rgb(104, 212, 235) 100%);
}

header .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

header .logo img {
  height: 50px;
}

.barra-container {
  display: flex;
  align-items: center;
}

.barra-icono {
  width: 35px;
  margin-right: 15px;
  cursor: pointer;
}

.barra-container .dropdown-menu {
  right: auto;
  left: 0;
  margin-top: 0.5rem;
}

main {
  padding: 20px;
  background: rgb(200, 237, 209);
  background: linear-gradient(0deg, rgb(200, 237, 209) 0%, rgb(255, 255, 255) 100%);
}

.btn {
  background: linear-gradient(90deg, rgb(163, 222, 235) 0%, rgb(144, 212, 161) 36%, rgb(208, 232, 208) 100%);
  border-color: black;
  display: grid;
}

/*Carrusel del index*/
.carousel {
  width: 80%;
  margin: auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 20px;
}

.thumbnails img {
  width: 100px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.thumbnails img.active, .thumbnails img:hover {
  opacity: 1;
}

/*fin de carrusel*/
.ofertas {
  padding: 20px;
  text-align: center;
}

.ofertas h2 {
  margin-bottom: 20px;
  color: #333;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.producto {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.producto img {
  max-width: 100%;
  height: 200px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  object-fit: contain;
}

.producto p {
  margin: 5px 0;
}

.producto span {
  color: #e53935;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.custom-carousel {
  position: relative;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  border: none;
}

.custom-carousel input {
  display: none;
}

.custom-carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.custom-carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-comentario {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  margin-top: 20px;
}

.circle-image img {
  border: 6px solid #fff;
  border-radius: 100%;
  padding: 0px;
  top: -28px;
  position: relative;
  width: 70px;
  height: 70px;
  background: #e7d184;
  cursor: pointer;
}

.name {
  margin-top: -21px;
  font-size: 18px;
}

.fw-500 {
  font-weight: 500 !important;
}

.rate {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #28a745;
}

.rating {
  display: flex;
  justify-content: center;
}

.rating .star {
  font-size: 30px;
  color: #FFD600;
}

.rating .star.empty {
  color: #ddd;
}

.review {
  margin-top: 10px;
  padding: 0 20px;
}

.review p {
  font-size: 14px;
  color: #555;
  text-align: left;
  margin-bottom: 0;
}

.custom-carousel-nav {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.custom-carousel-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

#custom-carousel-1:checked ~ .custom-carousel-content {
  transform: translateX(0);
}

#custom-carousel-2:checked ~ .custom-carousel-content {
  transform: translateX(-100%);
}

#custom-carousel-3:checked ~ .custom-carousel-content {
  transform: translateX(-200%);
}

#custom-carousel-4:checked ~ .custom-carousel-content {
  transform: translateX(-300%);
}

#custom-carousel-5:checked ~ .custom-carousel-content {
  transform: translateX(-400%);
}

#custom-carousel-1:checked ~ .custom-carousel-nav label[for=custom-carousel-1],
#custom-carousel-2:checked ~ .custom-carousel-nav label[for=custom-carousel-2],
#custom-carousel-3:checked ~ .custom-carousel-nav label[for=custom-carousel-3],
#custom-carousel-4:checked ~ .custom-carousel-nav label[for=custom-carousel-4],
#custom-carousel-5:checked ~ .custom-carousel-nav label[for=custom-carousel-5] {
  background-color: #333;
}

.slider {
  width: 90vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
  width: 4000px;
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 50%;
}

.ayuda-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ayuda-menu-item:hover {
  background-color: #ccc;
}

.ayuda-content {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.ayuda-content-item {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.ayuda-content-item:hover {
  background-color: #ccc;
}

.ayuda-content-item a {
  text-decoration: none;
}

.ayuda-content-item h2 {
  margin-top: 0;
}

.h3ayuda {
  color: #000000;
}

.payuda {
  color: #6b6969;
}

.categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 30px;
  flex-wrap: wrap;
}

.boton-cat {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.botones-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: transform 0.3s;
}

.botones-cat:hover {
  transform: scale(1.1);
}

.img-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.botones-cat h4 {
  margin-top: 10px;
  font-size: 16px;
}

/*------------------- log in -------------------*/
.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card {
  background-color: #333;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 350px;
  width: 100%;
}
.login-card img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100px;
}
.login-card h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
}
.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}
.login-card input[type=text] {
  background-color: #444;
  color: white;
}
.login-card input[type=password] {
  background-color: #444;
  color: white;
}
.login-card input[type=submit] {
  background: linear-gradient(90deg, rgb(164, 241, 164) 0%, rgb(94, 185, 117) 36%, rgb(104, 212, 235) 100%);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.login-card input[type=submit]:hover {
  background-color: #1aa34a;
}
.login-card a {
  color: #1db954;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.iconos-registro {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.iconos-registro a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

/*------------------- Fin de log in -------------------*/
/*--------------------------------Comienzo Footer --------------------------------*/
footer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

footer .redes-sociales a {
  margin: 0 10px;
}

.redes-sociales img {
  height: 40px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  text-decoration: none;
  color: #333;
}

/*components*/
.category-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  padding-top: 60px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.wrapper {
  width: 100%;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
}

.wrapper:hover {
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.4);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
}

.top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bottom {
  width: 100%;
  height: 40%;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.5s;
  border-radius: 10px;
}

.details {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.details h3 {
  font-size: 14px;
  margin: 0;
  word-wrap: break-word;
  overflow: hidden;
}

.details .text-wrapper {
  margin-top: auto;
}

.details p {
  margin: 5px 0;
}
.details p span {
  text-decoration-line: line-through;
  color: grey;
}
.details p s {
  color: red;
}

.price-btn {
  background: linear-gradient(90deg, rgb(164, 241, 164) 0%, rgb(94, 185, 117) 36%, rgb(104, 212, 235) 100%);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.price-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.inside {
  z-index: 9;
  background: linear-gradient(90deg, rgb(164, 241, 164) 0%, rgb(94, 185, 117) 36%, rgb(104, 212, 235) 100%);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: black;
  opacity: 1;
}

.inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}

.inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.contents ol {
  list-style: disc inside;
  padding: 0;
  margin: 0;
  text-align: left;
}

.contents li {
  color: black;
  font-size: 13px;
  margin-bottom: 5px;
  list-style: outside;
}

/*--------------------------------media query--------------------------------*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .item4 {
    grid-column: span 2;
    grid-row: span 1;
  }
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .item4 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
@media (max-width: 991px) {
  .navbar {
    padding: 30px;
  }
  .left {
    display: none;
  }
  .swiper {
    padding: 0 70px;
  }
  .swiper-slide img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .ayuda-container {
    padding: 10px;
  }
  .ayuda-menu {
    padding: 5px;
  }
  .ayuda-menu-item {
    padding: 5px;
  }
  .ayuda-content {
    padding: 10px;
  }
  .ayuda-content-item {
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .ayuda-container {
    padding: 5px;
  }
  .ayuda-menu {
    padding: 0;
  }
  .ayuda-menu-item {
    padding: 0;
  }
  .ayuda-content {
    padding: 5px;
  }
  .ayuda-content-item {
    margin-bottom: 5px;
  }
}
@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
