@import "./utilities/variables";
@import "./utilities/maps";
@import "./utilities/mixins";

@import "./base/resets";


@import "./layout/header";

@import "./layout/main-index";

@import "./layout/main-ofertas";

@import "./layout/main-ayuda";

@import "./layout/main-categoria";

@import "./layout/main-login";

@import "./layout/main-register";

/*--------------------------------Comienzo Footer --------------------------------*/

@import "./layout/footer";

/*components*/
@import "./components/card";

/*--------------------------------media query--------------------------------*/

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 5));
    }
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }



    .item4 {
        grid-column: span 2;
        grid-row: span 1;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }


    .item4 {
        grid-column: span 1;
        grid-row: span 1;
    }
}


@media(max-width: 991px) {
    .navbar{
        padding: 30px;
    }

    .left{
        display: none;
    }

    .swiper{
        padding: 0 70px;
    }

    .swiper-slide img{
        width: 100%;
    }
}


@media (max-width: 600px) {
    .ayuda-container {
        padding: 10px;
    }
    .ayuda-menu {
        padding: 5px;
    }
    .ayuda-menu-item {
        padding: 5px;
    }
    .ayuda-content {
        padding: 10px;
    }
    .ayuda-content-item {
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .ayuda-container {
        padding: 5px;
    }
    .ayuda-menu {
        padding: 0;
    }
    .ayuda-menu-item {
        padding: 0;
    }
    .ayuda-content {
        padding: 5px;
    }
    .ayuda-content-item {
        margin-bottom: 5px;
    }
}



@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}