
main{
    padding: 20px;
    background: rgb(200,237,209);
    background: linear-gradient(0deg, rgba(200,237,209,1) 0%, rgba(255,255,255,1) 100%);
}

.btn{
    background: linear-gradient(90deg, rgba(163,222,235,1) 0%, rgba(144,212,161,1) 36%, rgba(208,232,208,1) 100%);
    border-color: black;
    display:grid;
}

/*Carrusel del index*/
.carousel {
    width: 80%;
    margin: auto;
}
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 20px;
}

.thumbnails img {
    width: 100px;
    height: 60px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.thumbnails img.active, .thumbnails img:hover {
    opacity: 1;
}
/*fin de carrusel*/

.ofertas {
  padding: 20px;
  text-align: center;
}

.ofertas h2 {
  margin-bottom: 20px;
  color: #333;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.producto {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.producto img {
  max-width: 100%;
  height: 200px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  object-fit: contain;
}

.producto p {
  margin: 5px 0;
}

.producto span {
  color: #e53935;
}


.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .custom-carousel {
    position: relative;
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    border: none;
  }
  
  .custom-carousel input {
    display: none;
  }
  
  .custom-carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .custom-carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-comentario {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 12px;
    background-color: #fff;
    margin-top: 20px;
  }
  
  .circle-image img {
    border: 6px solid #fff;
    border-radius: 100%;
    padding: 0px;
    top: -28px;
    position: relative;
    width: 70px;
    height: 70px;
    background: #e7d184;
    cursor: pointer;
  }
  
  .name {
    margin-top: -21px;
    font-size: 18px;
  }
  
  .fw-500 {
    font-weight: 500 !important;
  }
  
  .rate {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #28a745;
  }
  
  .rating {
    display: flex;
    justify-content: center;
  }
  
  .rating .star {
    font-size: 30px;
    color: #FFD600;
  }
  
  .rating .star.empty {
    color: #ddd;
  }
  
  .review {
    margin-top: 10px;
    padding: 0 20px;
  }
  
  .review p {
    font-size: 14px;
    color: #555;
    text-align: left;
    margin-bottom: 0;
  }
  
  .custom-carousel-nav {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .custom-carousel-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #custom-carousel-1:checked ~ .custom-carousel-content {
    transform: translateX(0);
  }
  
  #custom-carousel-2:checked ~ .custom-carousel-content {
    transform: translateX(-100%);
  }
  
  #custom-carousel-3:checked ~ .custom-carousel-content {
    transform: translateX(-200%);
  }
  
  #custom-carousel-4:checked ~ .custom-carousel-content {
    transform: translateX(-300%);
  }
  
  #custom-carousel-5:checked ~ .custom-carousel-content {
    transform: translateX(-400%);
  }
  
  #custom-carousel-1:checked ~ .custom-carousel-nav label[for="custom-carousel-1"],
  #custom-carousel-2:checked ~ .custom-carousel-nav label[for="custom-carousel-2"],
  #custom-carousel-3:checked ~ .custom-carousel-nav label[for="custom-carousel-3"],
  #custom-carousel-4:checked ~ .custom-carousel-nav label[for="custom-carousel-4"],
  #custom-carousel-5:checked ~ .custom-carousel-nav label[for="custom-carousel-5"] {
    background-color: #333;
  }


  .slider {
    width: 90vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  
  .slider .slide-track {
    display: flex;
    animation: scroll 20s linear infinite; 
    width: calc(200px * 20);
  }
  
  .slider .slide {
    width: 200px;
  }
  
  .slider .slide img {
    width: 50%; 
  }